@mixin generic-btn {
  width: 10rem;
  height: 3rem;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto; 
  transition: 0.2s;
}

@mixin bold-text {
  text-transform: uppercase;
  font-weight: 900;
}
